<p id="notice"><%= notice %></p>


<h1><%= @match.team.name %> vs. <%= Team.find(@match.otherteam_id).name %></h1>

<br><br>

<table class="table">
	<tr>
	  	<th>League:</th>
	  	<td><%= @match.league.name %> <%= @match.league.endyear-1 %>/<%= @match.league.endyear %></td>
	</tr>

	<tr>
	  	<th>Week:</th>
	  	<td><%= @match.week %>. Spieltag</td>
  	</tr>

</table>


<h2>Ninety Minutes and then three</h2>
<table class="table">
	<thead>
		<tr>
			<th></th>
			<th>Real Score</th>
			<th>Referee Mistakes</th>
			<th>One Hundred</th>
			<th>No Luck</th>
		</tr>
	</thead>

	<% @minutes = [] %>
	<% @match.corrections.each do |c| %>
		<% unless @minutes.include?(c.minute) %>
			<% @minutes.push(c.minute) %>
		<% end %>
	<% end %>
	<% @minutes.push(0) %>
	<% @minutes.push(45.5) %>
	<% @minutes.sort! %>
	<% @score0 =0 %>
	<% @score1 =0 %>
	<% @score2 =0 %>
	<% @score3 =0 %>

	<% @minutes.each do |minute| %>
		<tr>
		  	<td>
		  		<% if minute == 0 %>
		  			<strong>Anpfiff</strong>
		  			<% elsif minute == 45.5 %>
		  			<strong>Halbzeit</strong>
		  			<% else %>
		  			'<%= minute %>
		  		<% end %>
		  	</td>
		  	<td>
		  		<% @match.corrections.each do |cor| %>
		  			<% if cor.minute == minute && cor.typeOfCorrection == 0 %>
		  				<%= link_to cor.name, cor.link, :target => "_blank" %>
		  				<% @score0 += cor.change %>
		  				<% @score1 += cor.change %>
		  				<% @score2 += cor.change %>
		  				<% @score3 += cor.change %>
	  				<% end%>
  				<% end %>
  			</td>

  			<td>
		  		<% @match.corrections.each do |cor| %>
		  			<% if cor.minute == minute && cor.typeOfCorrection == 1 %>
		  				<%= link_to cor.name, cor.link, :target => "_blank" %>
		  				<% @score1 += cor.change %>
	  				<% end%>
  				<% end %>
  			</td>

  			<td>
		  		<% @match.corrections.each do |cor| %>
		  			<% if cor.minute == minute && cor.typeOfCorrection == 2 %>
		  				<%= link_to cor.name, cor.link, :target => "_blank" %>
		  				<% @score2 += cor.change %>
	  				<% end%>
  				<% end %>
  			</td>

  			<td>
		  		<% @match.corrections.each do |cor| %>
		  			<% if cor.minute == minute && cor.typeOfCorrection == 3 %>
		  				<%= link_to cor.name, cor.link, :target => "_blank" %>
		  				<% @score3 += cor.change %>
	  				<% end%>
  				<% end %>
  			</td>
		</tr>
	<% end %>
		<tr>
			<th>
				Final
			</th>
			<th>
				<% @match.real_result = @score0 %>
				<%= @match.team1goals %> : <%= @match.team2goals %>
			</th>
			<th>
				<% @match.real_result = @score1 %>
				<%= @match.team1goals %> : <%= @match.team2goals %>
			</th>
			<th>
				<% @match.real_result = @score2 %>
				<%= @match.team1goals %> : <%= @match.team2goals %>
			</th>
			<th>
				<% @match.real_result = @score3 %>
				<%= @match.team1goals %> : <%= @match.team2goals %>
			</th>
		</tr>
</table>

<br><br>

<button><%= link_to "New Correction", new_correction_path(:match_id=>@match.id) %></button>

<br><br>



<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
