<h1>Editing Correction</h1>

<%= form_for(@correction) do |f| %>
  <% if @correction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@correction.errors.count, "error") %> prohibited this correction from being saved:</h2>

      <ul>
      <% @correction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>
  <div class="field">
    <%= f.label :match_id %><br>
    <%= f.number_field :match_id %>
  </div>
  <div class="field">
    <%= f.label :typeOfCorrection %><br>
    <%= f.number_field :typeOfCorrection %>
  </div>
  <div class="field">
    <%= f.label :change %><br>
    <%= f.number_field :change %>
  </div>
  <div class="field">
    <%= f.label :minute %><br>
    <%= f.number_field :minute %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Show', @correction %> |
<%= link_to 'Back', corrections_path %>
